BasedOnStyle: Google
IndentWidth: 4
Language: Cpp
ColumnLimit: 120
Standard: c++20
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
IndentAccessModifiers: false
SortIncludes: true
SpaceAfterTemplateKeyword: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^<glad.*"
    Priority: 10
  - Regex: "^<imgui.*"
    Priority: 10
    CaseSensitive: true
  - Regex: "^<epoch.*"
    Priority: 5
  - Regex: '[<"].*(/|\\).*'
    Priority: 15
  - Regex: "^<.*\\.h.*"
    Priority: 15
  - Regex: "^<.*"
    Priority: 20
  - Regex: ".*"
    Priority: 1
